<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="es.fabianaoliveira.cenourapp">
	<name>Só de Cenoura</name>
	<description>
		Menu do restuarante Só de Cenoura
	</description>
	<author href="http://oliveirafabiana.esy.es">
		Fabiana Oliveira
	</author>
	<icon src="icon.png"/>
	<gap:splash src="splash.png"/>

	<preference name="orientation" value="portrait"/>
	<preference name="fullscreen" value="true"/>
	<gap:plaform name="android"/>
	
</widget>